.dialog {
  width: 800px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.header {
  display: flex;
  align-items: center;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group select {
  flex: 1;
}

.add-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.form-group {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  margin-left: 5px;
}

form hr {
  margin: 20px 0;
}

.form-values{
  display: flex;
  flex-direction: column;
}

.form-valuesHeader{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.form-values .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-values .column {
  flex: 1;
  padding: 0 5px;
}

.form-values .column button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.form-values .column button:hover {
  color: red;
}
.title-container {
  position: relative;
  margin-bottom: 20px;
}
.title {
  display: inline-block;
  margin: 0;
}
.title-stripe {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  height: 3px;
  background-color: red;
}
.owner-permission {
  background-color: lightgrey;
  padding: 5px;
  border-radius: 5px;
}