table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
.example-spacer {
  flex: 1 1 auto;
}
.card-container {
  display: flex; 
  justify-content: center; 
  margin-left: 30%; 
  height: fit-content; 
  flex-direction:column ;
}
.example-card {
  max-width: 50%; 
  margin-top: 20px;
  margin-bottom: 20px;
}
.searchcenter{
  text-align: center;
}
