<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog()">Add product</button>
</mat-toolbar>

<div class="topbar">
  <div class="searchcenter">
  <input #s type="text" placeholder="Search!"
   (keyup.enter)="applyFilter(s.value)"/>
  <button (click)="applyFilter(s.value)" class="search-home"><mat-icon>search</mat-icon></button>
  <button (click)="backToHome()" class="search-home"><mat-icon>home</mat-icon></button>
</div>
<div class="allcards">
  <div class="card-container"> <mat-card *ngFor="let row of dataSource" class="example-card">
      <mat-card-title>Name : {{row.Name}}</mat-card-title>
      <mat-card-content>
        <p>Email : {{row.Email}}</p>
        <p>Company : {{row.Company}}</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-icon-button color="primary" (click)="editProduct(row)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn" (click)="deleteProduct(row.id)"><mat-icon>delete</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div>